body{
    --dark1: #313552;
    --dark2: #1f233d;
    --dark_text: #ffffff;
    --shadow: #252a46;
    background-color: var(--dark1);
    display: flex;
    overflow: hidden;
}

/******************* sidebar *******************/
body #sidebar{
    background-color: var(--dark2);
}
body #menusidebar{
    color: var(--dark_text);
    margin-top: 24px;
    margin-left: 80%;
    font-size: 30px;
    border-radius: 20px;
    background-color: var(--dark2);
}
body ul li i{
    font-size: 30px;
    color: var(--dark_text);
}
body ul .color_hover_type_calc:hover{
    background-color: var(--dark1);
}
@media screen and (max-width: 770px){
    body #menusidebar{
        font-size: 20px;
    }
}

/* dark_light */
body ul #dark_light{
    position: relative;
    background-color: var(--dark1);
    border-radius: 25px;
    width: 70%;
    height: 40px;
    margin-left: 15%;
    cursor: pointer;
}
body ul #dark{
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    background: var(--dark_text);
    border-radius: 50%;
    transform: scale(0.8);
}

/******************* calculator simple *******************/
body #calculator_simple{
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width: 770px){
    body #calculator_simple{
        display: flex;
        flex-direction: column;
    }
}

/******************* calculator *******************/
#calculator{
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px var(--shadow);
}
#result{
    background-color: var(--dark1);
    padding-left: 20px;
    font-size: 80%;
    box-shadow: 5px 5px var(--shadow);
}
body form input{
    background-color: var(--dark1);
    width: 30px;
    height: 60px;
    color: var(--dark_text);
    border-radius: 50px;
    margin: 5px;
    box-shadow: 5px 5px var(--shadow);
}
body form input:hover{
    box-shadow: 0px 0px var(--dark2);
    transition: 0.4s ease;
}
body form button{
    background-color: var(--dark_text);
    border: 1px solid black;
    width: 30px;
    height: 60px;
}

/******************* historique calculator *******************/
#historique{
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px var(--shadow);
    min-height: 100px;
    max-height: 300px;
    overflow-x: auto;
}
body #historique header{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}
body #historique h3{
    color: var(--dark_text);
}
body #historique article{
    color: var(--dark_text);
}
body article #historique_op{
    min-width: 100%;
    overflow-x: auto;  
    min-height: 400px;
}
body header #sup_historique{
    color: var(--dark_text);
    font-size: 20px;
}